*{
	direction: rtl !important;
  text-align: right;
	font-family: 'Markazi Text', serif;
}
body{
	padding-bottom: 200px;
  background: #eeeeee;
	font-size: 1.7rem;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2.7rem;
}
h3{
	font-size: 2.5rem;
}
h4{
	font-size: 2rem;
}
h5{
	font-size: 1.7rem;
}
pre{
	direction : ltr !important;
	text-align:left !important;
}
.form-control{
	font-size: 2rem;
	height: 40px !important;
}
textarea.form-control{
	height: 200px !important;
}
button.form-control{
	height: 50px !important;
}
a.no-underline{
	text-decoration: none;
}
.width-100{
  width: 100px;
}
.w-100{
	width: 100%;
}
a:hover>img{
	opacity: 0.8;
}
/*-------------------------------Navbar and Sidebar----------------------------------*/
.navbar-default {
  background: #2a3f54;
  border:0;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
	padding: 5px !important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: #dadada;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: none;
  color: #eeeeee;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #dadada;
}
.navbar-default .navbar-nav>li>a{
  color: #eeeeee;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #dadada;
}
.navbar-default .navbar-toggle .icon-bar{
  background: #eeeeee;
}
.navbar-default .navbar-collapse{
  border: 0;
}
.nav {
  padding-right: 0;
}
img#logo{
	width:40px;
	transition: 1s all;
}
.navbar-brand:hover img#logo{
	opacity: 0.8;
	-webkit-transform: rotate3d(1, 1, 1, 360deg);
	-moz-transform: rotate3d(1, 1, 1, 360deg);
	transform: rotate3d(1, 1, 1, 360deg);
	-ms-transform: rotate3d(1, 1, 1, 360deg);
	-o-transform: rotate3d(1, 1, 1, 360deg);
	transition: 1s all;
}
@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #eeeeee;
  }
}
#side-bar{
  display: block;
}
#side-bar-icon{
  display: none;
}
.child-options{
  display: none;
	margin: 5px 0;
  border: 1px solid#ccc;
  border-radius: 8px;
}
.child-options li a{
	color: #23527c;
}
.child-options li:first-of-type a{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.child-options li:last-of-type a{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.child-options li a:hover{
	background: #dbedff;
	color: #23527c;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: #597dbf;
  color: #eeeeee;
}
.nav-pills>li>a{
  background: #2a3f54;
  color: #eeeeee;
}
.nav-pills>li>a:hover{
  background: #597dbf;
  color: #eeeeee;
}
/*------------------------------SEARCH BAR------------------------------------------*/
div.search{
  position: relative;
  display: inline;
}
input.search{
  width: 80%;
  display: inline;
  padding-left: 20px;
}
button.search{
  position: absolute;
  left: 4px;
  top: -2px;
  background: none;
  border: 0;
  color: #b7b7b7;
}
button.search:hover{
  color: #2a3f54;
}
select.search{
  width: 15%;
  display: inline;
  padding: 6px 4px;
}
/*-------------------------------PAGE CONTENT-------------------------------------*/
.page-header{
  text-align: center;
}
.content{
  margin-top: 30px;
}
.center{
  text-align: center;
}
.float{
  float: right;
  margin-left: 3px;
}
.navy-heading{
  background: #2a3f54 !important;
  color: white !important;
}
.item{
  padding: 15px 5px 10px;
  border-bottom: 1px solid #eeeeee;
}
.item:last-child{
  border:0;
}
.project-heading{
  background: #597dbf !important;
  color: white !important;
}
.btn-project{
  background: #597dbf !important;
  color: white !important;
}
.btn-project:hover{
  background: white !important;
  color: #597dbf !important;
}
.btn-navy{
  background: #2a3f54;
  color: white;
}
.btn-navy:hover{
  background: #eee;
	border: 1px solid #2a3f54;
  color: #2a3f54;
}
.display{
  display: block;
}
.hide{
  display: none;
}
.show{
	display: block;
}
.bordered-right{
  border-right: 6px solid #597dbf;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;

  margin-bottom: 5px;
  border-radius: 5px;
}
.border-primary{
  border-right-color: #337ab7;
}
.border-navy{
   border-right-color: #2a3f54;
}
.whole,a.whole{
  padding: 5px 10px 5px 5px;
  color: black;
  display: block;

}
a.whole:hover{
  text-decoration: none;
  background: #eeeeee;
}
textarea{
  resize: none;
  height: 120px !important;
}
.left{
  float: left;
  background: #2a3f54 !important;
}
span.star{
  color: #ffbf00;
}
.m-top{
  margin-top: 5px;
}
textarea.text{
  height: 300px !important;
}
.ui-datepicker-title,table.ui-datepicker-calendar thead,table.ui-datepicker-calendar tbody{
  direction: ltr !important;
}
.circle-div{
	padding: 43% 0;
  border-radius: 50%;
  width: 100%;
  margin:0 auto;
  background: white;
  text-align: center;
  color: black;
  font-size: 25px;
}
.progress{
  background: white;
}
.jumbotron{
  background: #dad9d9;
}
.half {
    position:relative;
}
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    right: 53%;
}
a.list-hover{
  display: block;
  border-radius:6px;
}
a.list-hover:hover{
  background-color: #eeeeee !important;
  color: grey;
}
span.title{
  display: inline-block;
  padding: 10px 5px;
  width: 120px;
  margin: 0 0 10px 10px;
}
.icon-name{
  font-size: 16px;
  text-align: center;
  margin-top: -40px;
  color: white;
}
#info{
  float: left;
}
h3.print-title{
  display: none;
}
/*----------------------------------PRINT-----------------------------------------*/
@media print{
  input[type='checkbox'],ul,.all_checkbox,.panel-heading,button[type="button"],div.search,#side-bar,#side-bar-icon{
    display: none !important;
  }
  .panel{
    background: none !important;
    border:0 !important;
  }
  h3.print-title{
    display: block;
  }
  tr{
    page-break-inside: avoid !important;
  }
  thead{
    display: table-header-group;
  }
  table,th,td{
    text-align: right;
    direction: rtl;
  }
}
/*----------------------------------TABLE-----------------------------------------*/
table,th,td{
  text-align: right;
  direction: rtl;
}
table{
  background: white;
}
th.min100{
  min-width: 100px;
}

/*-------------------------------FOOTER------------------------------------*/
footer{
	text-align: center;
	background: #728dad;
	background-size: 100% 100%;
	color: white;
}
.footer-img{
	width: 20px;
	height: 20px;
}







/*------------------@media (max-width: 766px)------------------------*/
@media (max-width: 765px){
  #side-bar{
    display: none;
  }
  #side-bar-icon{
    display: block;
  }
}
/*------------------@media (min-width: 768px)------------------------*/
@media (min-width: 768px){
	.navbar-nav>li {
	    float: right;
	}
	.navbar {
	    border-radius: 0px;
	}
}
/*-----------------------CHANGE BOOTSTRAP INTO ARABIC-----------------------*/
.input-group .form-control:first-child{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.input-group-addon:last-child {
    border-right: 0;
    border-left:1px solid #ccc !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0;
}
.col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0;
}
.col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0;
}
.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0;
}
.col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0;
}
.col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0;
}
.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0;
}
.col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0;
}
.col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0;
}
.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0;
}
.col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0;
}
.col-xs-offset-0 {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 768px) {
	#float_form_container{
		max-width: 70% !important;
	}
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
  	margin-left: 0;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
	#float_form_container{
		max-width: 50% !important;
	}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  	margin-left: 0;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-md-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
	#float_form_container{
		max-width: 20% !important;
	}
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: 0;
}
.radio label,
.checkbox label {
  padding-right: 20px;
  padding-left: 0;
}

.nav-tabs>li{
  float: right !important;
}

/*---------------Bootstrap 4 Some useful classes---------------*/
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.is-invalid:focus{
	border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.is-invalid{
	border-color: #dc3545;

}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.pagination{
	margin: 5px auto;
}
.page-link{
	direction: ltr !important;
}
.pagination>.active>span{
	background: #597dbf;
}
.table tbody tr:hover{
	background: #eee !important;
}
.border_bottom{
	border-bottom: 1px solid #597dbf;
}
.block{
	display: block;
}
.toggle-group{
	text-align: center !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #dbedff38;
}
.file{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 100;
}
.number{
	direction: ltr !important;
}

/*---------------------------------------------FORM---------------------------------------------*/
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('dropdown.svg');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}
.input-right{
	width: 50% !important;
	float: right !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.input-left{
	width: 50% !important;
	float: left !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.btn-primary{
	background-color: #597dbf !important;
	transition: 1s all;
}
.btn-primary:hover{
	background-color: #597dbfba !important;
	border-color: #ababab !important;
	transition: 1s all;
}
.btn-dark{
	background-color: #202020bd;
	color: #ffffff;
}
.btn-dark:hover{
	color: #ccc;
}
.btn-enable{
	background-color: #cdd6cd;
	color: #131313;
	border: 1px solid #d3d8d3;
}
.btn-enable:hover{
	background-color: #969696a3;
}
/*---------------JQUERY OVERRIDE STYLE---------------*/
select.ui-datepicker-year,select.ui-datepicker-month{
  color: black !important;
}
div.ui-datepicker-header{
  background: #337ab7 !important;
  border-color: #2a3f54 !important;

}
a.ui-state-hover,a.ui-datepicker-next-hover,a.ui-datepicker-prev-hover{
  background: #2a3f54 !important;
  border-color: #337ab7 !important;
  color: #89cff0 !important;
}
.ui-state-highlight{
  background: #89cff0 !important;
  border-color: #337ab7 !important;
  color: #2a3f54 !important;
}


/*------------------------------------Organization------------------------------------*/
span.delete_phone:hover{
	cursor: pointer;
	color: #ea4359;
}




/*------------------------------------Projects------------------------------------*/
#navigation{
	margin-bottom: 30px;
}

#float_container{
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#float_form_container{
	display: none;
	background: #eeeeee;
	max-width: 90%;
	margin: 50px auto 0;
	padding: 10px 40px 30px;
	border-radius: 8px;
	position: relative;
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
span.close{
	position: absolute;
	top: 10px;
	right: 12px;
	color: rgba(0, 0, 0, 0.7);
	opacity: 1!important;
	font-size: 35px;
}
.float_form{
	display: none;
}

table.borderless tr td,table.borderless tr th{
	border: 0 !important;
}
table.borderless tr td:first-of-type{
	width: 150px !important;
}
.relative{
	position: relative;
}
#recycle{
	position: absolute;
	top: 8px;
	left: 15px;
	width: 50px;
	height: 50px;
}
.trash-heading{
	color: #fff !important;
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
}



/*------------------------------------Terms------------------------------------*/
#type.has-error, #type.is-invalid{
	border : 1px solid #dc3545;
	border-radius: 4px;
}
.box-heading{
	text-align: center;
	border-radius: 4px;
	background-color: #f9f9f9;
	padding: 10px;
}
.box-heading-right{
	text-align: center;
	border-radius: 4px;
	background-color: #2a3f54;
	color: #fff;
	padding: 10px;
}
.text-right{
	text-align: right;
}
.contractor-img{
	padding: 10px 5px;
	background: white;
	border-radius: 4px;
}
.contractor-img:hover{
	background: #ccc;
}
.glyphicon-star,.glyphicon-star-empty{
	top: 5px;
	color: #949494;
	font-size: 22px;
}
.glyphicon-star{
	color: #f3d255 !important;
}
.card{
	background-color: whitesmoke;
	border-radius: 4px;
	padding: 30px 20px;
}
.note{
	position: relative;
	width: 95%;
	margin: 0 auto;
	background-image: url('../images/pin.png');
	background-size: 40px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #ffff9a;
  transform: rotate(-3deg);
	padding: 35px 10px;
  box-shadow: 2px 2px 10px #cccc;
	min-height: 250px;
}
textarea.note{
	width: 100%;
	transform: rotate(0);
	min-height: 400px;
}
.note-time{
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: #868686;
}
.note_control{
	position: absolute;
	bottom: 5px;
	right: 10px;
	display:none;
}
.note_control .glyphicon-trash{
	color: #ef3b3b;
}
.note_control .glyphicon-edit{
	color: #00000093;
}
#add_note input{
	background-color: #ffff9a;
}
